/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#body{
	font-family: 'Lato', sans-serif;
	background: #e0fbdc;
}

#low_title{
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
    font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
}

#high_title{
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}

#clearfix:before, #clearfix:after{
	content: " ";
	display: table;
}

#clearfix:after{
	clear: both;
}

#wrapper{
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

#main_header{
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
	background: white;
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
}

#post { 
	margin: 1em 0;
	padding: 1em 0;
	border-bottom: 1px solid #D1d1d1;
}

#title a {
	margin: 0;
	color: #397CAC;
	text-decoration: none;
	font-weight: 100;
	font-size: 1.25rem;
}
#date {
	margin-top: .25rem;
	font-size: 0.9rem;
	color: #848484;
}

#myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

#myButton a{
	text-decoration:none;
}
#myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
#myButton:active {
	position:relative;
	top:1px;
}

#post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
}

#post_content_h1{
		font-weight: 100;
		font-size: 2em;
		color: #397CAC;
		margin-top: 0;
}
#post_content_p{
		color: #B2BAC2;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
}
